/*
 App Name:          My Job Chart
 Description:       Re-Design
 Author:            Elizabeth Gin
 Author URI:        http://elizabethgin.com
 Version:           1.0.0
*/

/*
 Color Reference
 Teal: rgb(0,169,163);
 Body: rgb(128,130,133);
*/

/* HTML
-------------------------------------------------------------- */
html {
    background-color: rgb(230,231,232);
}


/* Body
-------------------------------------------------------------- */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    color: rgb(128,130,133);
    font-weight: 400;
    width: 320px;
    height: 568px;
    font-size: 1em;
}

/* Headers
-------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6, h7 {
    margin: 0;
}

h1 {
    text-align: center;
    color: rgb(255,255,255);
    font-size: 2.7em;
    font-weight: 200;
    margin: 30px 0px 50px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(255,255,255);
}

h2 {
    font-size: 1.4em;
    color: rgb(0,169,163);
    display: inline-block;
    font-weight: 300;
    text-align: center;
}

h4 {
    width: 60%;
    border-bottom: 1px solid rgb(147,149,152);
    color: rgb(65,64,66);
    font-size: 1.1em;
    font-weight: 400;
    padding: 0px 0px 3px 12px;
    margin-top: 30px;
}

h5 {
    float: left;
    padding: 5px 0px 0px 10px;
    font-weight: 500;
    font-weight: bold;
    font-size: 1.2em;
}

h6 {
    padding: 30px 0px 0px 12px;
    font-weight: 500;
    font-size: 1.8em;
    float: left;
}

h8 {
    color: rgb(88,89,91);
    font-size: 1em;
    font-weight: 400;
}

h9 {
    font-weight: 500;
    font-weight: bold;
    font-size: 1.3em;
}


/* Nav
-------------------------------------------------------------- */

nav#statusBar {
    height: 20px;
    width: 100%;
    background-color: rgb(255,255,255);
    text-align: center;
}

nav#statusBar img {
    width: 320px;
}

nav#navBar {
    height: 29px;
    width: 100%;
    background-color: rgb(255,255,255);
    float: left;
    padding-top: 5px;
}

nav#navBar img {
    width: 20px;
}

nav#navBar a#left {
    padding: 2px 0px 0px 10px;
    float: left;
}
nav#navBar a#right {
    padding: 2px 10px 0px 0px;
    float: right;
}

nav#tabBar {
    height: 44px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgb(255,255,255);
}

nav#tabBar img {
    width: 37px;
    padding: 3px 32px 0px 32px;
}

nav#toggleBar a {
    border: 1px solid rgb(0,169,163);
    background-color: rgb(255,255,255);
    color: rgb(0,169,163);
    padding: 5px 0px 5px 0px;
    margin: 10px 0px 0px 0px;
    width: 30%;
    text-align: center;
    display: inline-block;
}

nav#toggleBar a#left {
    margin-left: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
}

nav#toggleBar a#right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    
}

nav#toggleBar a.selected {
    background-color: rgb(0,169,163);
    color: rgb(255,255,255);
}



/* Links
-------------------------------------------------------------- */

a {
    text-decoration: none;
}


/* Calendar
-------------------------------------------------------------- */

div#calendar table {
    width: 100%;
    margin: 20px 0px 30px 0px;   
}

div#calendar thead#month {
    text-align: center;
}

div#calendar thead#month th {
    padding-bottom: 20px;
}

div#calendar thead#month img {
    width: 12px;
    padding: 5px 15px 0px 15px;
}

div#calendar td {
    padding: 2px;
    vertical-align: middle;
    text-align: center;
}

div#calendar thead#days th {
    color: rgb(88,89,91);
    text-align: center;
    font-weight: 300;
    padding: 10px 5px 5px 5px;
}

div#calendar thead#days {
    background-color: rgb(255,255,255);
}

div#calendar td {
    padding: 10px;
    border: 4px solid rgb(241,241,241);
    border-radius: 10px;
    background-color: rgb(255,255,255);
}

div#calendar a.pastMonth {
    color: rgb(128,130,133);
    font-weight: 300;
}

div#calendar a {
    color: rgb(88,89,91);
    font-weight: 300;
}

div#calendar td.today {
    background-color: rgb(0,169,163);
}

div#calendar a.today {
    color: rgb(255,255,255);
}

div#calendar a.chore {
    color: rgb(0,169,163);
}


/* Week
-------------------------------------------------------------- */

div#week {
    margin: 15px 0px 15px 4px;
}

div#week .dayNight, div#reminder .dayNight {
    float: left;
    width: 25px;
    margin: 5px 0px 0px 5px;
}

div#week h5, div#reminder h5 {
    padding-left: 8px;
}

div#week .quarter {
    width: 24%;
    height: 80px;
    position: relative;
    float: left;
    background: no-repeat center center url('../images/profileMom.png');
}

div#week .quarter:after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
}

div#reminder .quarter {
    width: 24%;
    height: 80px;
    display: block;
    background-color: rgb(0,169,163);
    margin: 30px 0px 0px 30px;
}

div#week .third {
    width: 49%;
    height: 80px;
    float: left;
}

div#week .threeQuarter {
    width: 74%;
    height: 164px;
    float: right;
}

div#week .quarter, div#week .third, div#week .threeQuarter {
    background-color: rgb(0,169,163);
    margin: 4px 4px 0px 0px;
}

div#week p.info, div#reminder p.info {
    margin: 5px 0px 0px 10px;
    color: rgb(255,255,255);
    font-style: normal;
    float: left;
}


/* Notification
-------------------------------------------------------------- */

div.notification {
    width: 100%;
    background-color: rgb(255,255,255);
    color: rgb(0,169,163);
    height: 94px;
    border-bottom: 1px solid rgb(0,169,163);
}

div.notification img.left {
    float: left;
}

div.notification img.right {
    float: right;
    padding: 10px 10px 0px 0px;
}

div.notificationTitle {
    text-align: center;
    width: 100%;
    background-color: rgb(0,169,163);
    color: rgb(255,255,255);
    padding: 10px 0px 10px 0px;
    margin-top: 20px;
}

div.notification p {
    margin: 10px 0px 10px 10px;
    width: 50%;
    float: left;
}

div.notification p.info {
    float: left;
    margin-left: 10px;
}

.noMargin {
    margin: 0px !important;
}

div.notificationSlide {
    background-color: rgb(90,197,195);
    width: 100%;
    color: rgb(255,255,255);
    height: 94px;
    border-bottom: 1px solid rgb(0,169,163);
}

div.notificationSlide > aside {
    float: left;
    margin: 10px;
}

div#notifications .quarter {
    width: 94px;
    height: 94px;
    background-color: rgb(0,169,163);
    float: left;
}

div#notifications .dayNight {
    float: left;
    width: 35px;
    margin: 5px 0px 0px 5px;
}

div#notifications p.info {
    margin: 5px 0px 0px 10px;
    color: rgb(255,255,255);
    font-style: normal;
    float: left;
    font-size: .8em;
}


/* Member, Family, Member Pending
-------------------------------------------------------------- */

div#groups, div#family {
    margin: 0px 4px;
}

div.member {
    width: 98%;
    background-color: rgb(0,169,163);
    color: rgb(255,255,255);
    height: 94px;
    margin: 10px 0px 10px 4px;
}

div.memberPending {
    width: 98%;
    background-color: rgb(188,190,192);
    color: rgb(255,255,255);
    height: 94px;
    margin: 10px 0px 10px 4px;
}

div.memberPending img.left, div.member img.left {
    float: left;
}

div.memberPending button {
    width: 50%;
}

div.member img.right {
    float: right;
    padding: 30px 10px 0px 0px;
}

div.member table {
    margin: 0;
    padding: 0;
    width: 60%;
}

div.member td {
    padding: 10px 0px 0px 12px;
    vertical-align: middle;
}

div.new {
    width: 98%;
    margin: 20px 0px 10px 4px;
    background-color: rgb(147,149,152);
    color: rgb(255,255,255);
}

div.new p {
    padding: 10px 12px;
    font-size: 1.2em;
}

div.new img {
    width: 24px;
}

div#memberSettings th {
    font-style: italic;
    font-weight: 300;
}

div.swatches {
    width: 60px;
    height: 40px;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 10px 10px 0px 0px;
	float: left;
	text-align: center;
}

div.swatches img {
    text-align: center;
    padding: 2px 12px 0px 0px;
}

div#groups p.info {
    font-style: normal;
    font-size: .8em;
    float: left;
    margin: 0px 0px 0px 12px;
    clear: both;
}

div#groups p.info a {
    color: rgb(255,255,255);
    float: left;
}


/* Rewards
-------------------------------------------------------------- */

div#rewardsSort div#amount, div#rewardsSpend div#amount {
    margin: 20px 0px 10px 95px;
    padding: 10px 18px;
    width: 30%;
    background-color: rgb(68,122,122);
    color: rgb(255,255,255);
    font-size: 3em;
    font-weight: 400;
    text-align: center;
    border-radius: 10px;
}



div#rewardsSpend div#amount {
    border: 1px solid rgb(71,90,91);
    box-shadow: 3px 3px 5px #888888;
}

div#rewardsSort p.info, div#rewardsSpend p.info {
    text-align: center;
    width: 100%;
}

div#rewardsSpend div.wishlist {
    float: left;
    margin: 20px 30px 0px 20px;
    font-weight: 300;
    
}

div#rewardsSpend div.wishlistBag, div#rewardsSpend div.newWishlistBag {
    text-align: center;
    color: rgb(255,255,255);
    font-size: 1.2em;
    font-weight: 400;
    float: left;
    padding-top: 50px;
    margin-left: 15px;
    height: 60px;
    width: 80px;
}


div#rewardsSpend div.wishlistBag {
    background: no-repeat center url("../images/bagBlue.png"); 
}

div#rewardsSpend div.newWishlistBag {
    background: no-repeat center url("../images/bagGray.png");
}


/* Assign Job
-------------------------------------------------------------- */

div#assignJob ul, div#assignJobComplete ul, div#tradeJob ul, div#tradeJobComplete ul, div#assignJobAlmost ul, div#viewJob ul, div#memberSettings ul, div#newBenefit ul, div#newBenefitComplete ul, div#newValue ul, div#newJob ul, div#newJobComplete ul, div#newBenefit ul, div#newGroup ul, div#newMember ul, div#groupSortingChoices ul, div#newSortCategory ul, div#addJob ul {
    list-style-type: none;
    width: 100%;
}

div#assignJob li, div#assignJobComplete li, div#tradeJob li, div#tradeJobComplete li, div#assignJobAlmost li, div#viewJob li, div#memberSettings li, div#newBenefit li, div#newBenefitComplete li, div#newValue li, div#newJob li, div#newJobComplete li, div#newBenefit li, div#newGroup li, div#newMember li, div#groupSortingChoices li, div#newSortCategory li, div#addJob li {
    padding: 12px 12px 15px 12px;
    border-bottom: 1px solid rgba(255,255,255,.7);
    color: rgb(65,64,66);
    font-weight: 300;
    clear: both;
}

div#assignJob li img, div#assignJobComplete li img, div#tradeJob li img, div#tradeJobComplete li img, div#assignJobAlmost li img, div#viewJob li img, div#memberSettings li img, div#newBenefit li img, div#newBenefitComplete li img, div#newValue li img, div#newJob li img, div#newJobComplete li img, div#newBenefit li img, div#newGroup li img, div#newMember li img, div#addJob li img {
    float: right;
}

div#assignJobComplete img.assignedTo, div#assignJobAlmost img.assignedTo, div#newBenefitComplete img.assignedTo, div#viewJob img.assignedTo, div#tradeJobComplete img.assignedTo, div#tradeJob img.assignedTo {
    width: 25px;
    margin-right: 5px;
    border: 1px solid rgb(0,169,163);
    float: right;
}

div#assignJob p.output, div#assignJobComplete p.output, div#tradeJob p.output, div#tradeJobComplete p.output, div#assignJobAlmost p.output, div#viewJob p.output, div#memberSettings p.output, div#newBenefit p.output, div#newBenefitComplete p.output, div#newValue p.output, div#newJob p.output, div#newJobComplete p.output, div#newBenefit p.output, div#newGroup p.output, div#newMember p.output, div#addJob p.output {
    color: rgb(128,130,133);
    font-weight: 300;
    float: left;
}

div#assignJob p.itemLabel, div#assignJobComplete p.itemLabel, div#tradeJob p.itemLabel, div#tradeJobComplete p.itemLabel, div#assignJobAlmost p.itemLabel, div#viewJob p.itemLabel, div#newGroup p.itemLabel, div#newJob p.itemLabel, div#newJobComplete p.itemLabel, div#newBenefit p.itemLabel, div#newBenefitComplete p.itemLabel, div#addJob p.itemLabel {
    width: 55%;
    float: left;
}

/* Add Menu, Settings Menu, Photo Menu, Photo Default, Verification
-------------------------------------------------------------- */

div#addMenu, div#settingsMenu, div#photoMenu, div#photoDefault, div#verification, div#reminder {
    background: rgba(209,211,212,.6);
    z-index: 10;
    width: 100%;
}

div#addMenu ul {
    position: fixed;
    bottom: 44px;
    background: rgb(90,197,195);
    width: 100%;
}

div#settingsMenu ul {
    position: fixed;
    top: 29px;
    background: rgb(90,197,195);
    width: 100%;
}

div#verification > div {
    width: 95%;
    background: rgb(0,169,163);
    color: rgb(255,255,255);
    font-size: 1.2em;
    margin-left: 7px;
    position: fixed;
    top: 70px;
}

div#verification > div > a > img {
    float: right;
    padding: 10px;
    width: 20px;
}

div#verification p {
    margin: 25px 0px 25px 0px;
}

div#photoMenu ul, div#photoDefault ul, div#reminder > div {
    position: fixed;
    top: 70px;
    background: rgb(255,255,255);
    width: 95%;
    margin-left: 7px;
}

div#addMenu li, div#settingsMenu li {
    padding: 12px 12px 15px 12px;
    border-bottom: 1px solid rgba(255,255,255,.7);
    color: rgb(255,255,255);
    font-size: 1.2em;
}

div#photoMenu li, div#photoDefault li, div#reminder li {
    padding: 12px 12px 15px 12px;
    border-bottom: 1px solid rgba(209,211,212,.8);
    color: rgb(0,169,163);
}

div#photoMenu li.optionsHeader, div#photoDefault li.optionsHeader, div#reminder li.optionsHeader {
    background-color: rgb(0,169,163);
    color: rgb(255,255,255);
    font-size: 1.1em;
    font-weight: 300;
}

div#photoMenu li.optionsHeader img, div#photoDefault li.optionsHeader img {
    float: right;
    width: 20px;
}


/* Select Job, Select Value, Member Jobs
-------------------------------------------------------------- */

div#selectJobs table, div#selectValue table, div#memberSettings table, div#selectEvent table {
    width: 100%;
    margin: 30px 0px 30px 0px;   
}

div#selectJobs td, div#selectValue td, div#memberSettings td, div#selectEvent td {
    padding: 10px 0px 10px 12px;
    vertical-align: middle;
}

div#selectJobs th, div#selectValue th, div#selectEvent th {
    color: rgb(88,89,91);
    padding: 10px 0px 10px 12px;
    font-weight: 300;
    text-align: left;
}

div#selectJobs .odd, div#selectValue .odd, div#selectEvent .odd {
    background: rgb(250,251,251);
}

div#selectJobs #search, div#selectEvent #search { 
    text-align: right;
    display: block; 
    width: 70%;               
    word-spacing: 20px;
    margin: 12px;
    padding-left: 5px;
    float: left;
    border: 1px solid rgb(0,169,163);	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	height: 30px;
	background: no-repeat left url("../images/search.png");
}

div#selectJobs button.textOnly, div#selectEvent button.textOnly  {	
    background: none;
	display: inline-block;	
	color: rgb(0,169,163);	
	padding: 5px;			
	line-height: normal;
	-webkit-appearance: none;	
	font-size: .8em;
	font-weight: 300;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 20%;
	margin: 15px 0px 0px 0px;
}

div#verification span.done {
    color: rgb(255,255,255);
    border-top: 1px solid rgb(255,255,255);
    border-right: 1px solid rgb(255,255,255);
    width: 20%;
}

div#verification span.okay {
    color: rgb(255,255,255);
    border-top: 1px solid rgb(255,255,255);
    width: 95%;
}

div#verification span.task {
    color: rgb(255,255,255);
    border-top: 1px solid rgb(255,255,255);
    width: 67%;
}

div#reminder span.okay {
    color: rgb(0,169,163);
    border-top: 1px solid rgb(0,169,163);
    border-right: 1px solid rgb(0,169,163);
    width: 20%;
}

div#reminder span.task {
    color: rgb(0,169,163);
    border-top: 1px solid rgb(0,169,163);
    width: 67%;
}

div#verification span.task, div#verification span.done, div#reminder span.task, div#reminder span.okay, div#verification span.okay  {	
    background: none;
	display: inline-block;	
	margin-top: 35px;	
	padding: 10px;			
	line-height: normal;
	-webkit-appearance: none;	
	font-weight: 300;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    float: left;
    text-align: center;
}




/* Select Frequency, Group Benefit Choices, Group Sorting Choices
-------------------------------------------------------------- */

div#selectFrequency input[type="radio"], div#selectFrequency input[type="checkbox"], div#selectFrequency input[type="date"], div#selectFrequency input[type="time"], div#groupBenefitChoices article input, div#selectEvent input[type="text"], div#newMember input[type="text"], div#newSortCategory input[type="text"], div#newGroup input[type="text"], div#newJob input[type="text"], div#memberSettings input[type="text"] {
    margin-left: 12px;
    margin-bottom: 15px;
}

div#memberSettings input[type="time"] {
    margin-top: 10px;
}

div#groupSortingChoices input[type="text"] {
    margin-top: 0px !important;
}

div#groupSortingChoices div.right {
    margin-right: 35px;
}

div#selectFrequency article {
    width: 45%;
}

div#groupBenefitChoices article {
    width: 100%;
}

div#groupBenefitChoices h4 {
    width: 60%;
    margin-bottom: 10px;
}

div#selectFrequency h4, div#selectValue h4, div#selectEvent h4 {
    width: 90%;
    margin-bottom: 10px;
}


/* Select Members, Photos Default
-------------------------------------------------------------- */

div#selectMembers .addMember {
    border: 1px solid rgb(147,149,152);
    width: 94px;
    height: 94px;
}

div#selectMembers > div {
    margin: 25px 0px 40px 10px;
    float: left;
}

div#selectMembers > div div, div#photoDefault ul li div div {
    margin: 0px 2px 10px 2px;
    float: left;
}

div#photoDefault ul li div div img {
    width: 85px;
}

.selectedImage {
    border: 1px solid rgb(0,169,163);
    z-index: 1;
}

div#selectMembers > div div img.selectedMember, div#photoDefault img.selectedImage {
    position: relative;
    margin-left: -35px;
    z-index: 10;
}

div#photosDefault ul li div {
    margin: 20px 0px 40px 5px;
}

div#selectMembers p {
    margin-bottom: 10px;
    text-align: center;
}


/* Login
-------------------------------------------------------------- */

div#login {
    background-color: rgb(0,169,163);
    padding: 12px;
    height: 568px;
}

div#login li {
    margin-bottom: 10px;
}

div#login li img {
    width: 40px;
    float: right;
}

div#login aside {
    font-size: .9em;
    color: rgb(255,255,255);
    font-style: normal;
    padding: 12px;
    float: right;
    margin-top: 50px;
}

div#login ul {
    list-style-type: none;
}


div#login aside img {
    width: 20px;
    padding-left: 10px;
}

div#login aside a {
    color: rgb(255,255,255);
    font-weight: 300;
}

div#login input.login {
    margin: 0;
    width: 81%;
    cursor: pointer;
}

div#login p#message {
    color: rgb(255,255,255);
    font-weight: 300;
    font-size: 1.1em;
    margin-bottom: 20px;
}



/* Inputs
-------------------------------------------------------------- */

input[type="date"], input[type="time"], input[type="text"], input[type="search"], textarea {
    border: .5px solid rgb(200,199,199);
    padding: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: rgb(128,130,133);
    background-color: rgb(245,246,246);
}

input.long {
    width: 88%;
}

input[type="email"], input[type="password"] {
    border: .5px solid rgb(255,255,255);
    padding: 8px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    color: rgb(128,130,133);
    background-color: rgba(255,255,255,.8);
    width: 75%;
}

input:focus, textarea:focus {
    outline: none;
    border: none;
}

textarea {
    width: 95%;
}

input[type="checkbox"] + label, input[type="radio"] + label {
    vertical-align: middle;
    padding: 15px;
}

input[type="checkbox"]:checked + label, input[type="radio"]:checked + label {
    color: rgb(0,169,163);
}

input[type="range"] {
    width: 85%;
    margin-top: 30px;
    margin-left: 12px;
}


/* Buttons
-------------------------------------------------------------- */

input[type="submit"]   {	
	background: rgb(255,255,255);	
	display: inline-block;	
	color: rgb(0,169,163);			
	padding: 3px;
	border: 1px solid rgb(0,169,163);	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	line-height: 1.5;
	-webkit-appearance: none;	
	font-size: 1.2em;
	font-weight: 300;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 60%;
	margin: 30px 2px;
}

input.save   {
    margin-left: 6px;
	width: 95%;
	cursor: pointer;
}

button  {	
	background: rgb(250,251,251);	
	display: inline-block;	
	color: rgb(128,130,133);			
	padding: 5px;	
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
	line-height: normal;
	-webkit-appearance: none;	
	font-size: .9em;
	font-weight: 300;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 30%;
	margin: 28px 2px 0px 12px;
}



/* Spans
-------------------------------------------------------------- */

a {
    color: rgb(0,169,163);
}

.blue {
    color: rgb(0,169,163);
}

.right {
    float: right;
}

.left {
    float: left;
}

.white {
    color: rgb(255,255,255);
}

.clear {
    clear: both;
}

.center {
    text-align: center;
    width: 100%;
}

.italic {
    font-style: italic;
    color: rgb(188,190,192);
}

.gray {
    color: rgb(128,130,133);
}



/* Divs
-------------------------------------------------------------- */

div#memberSettings .icon, div#assignJobComplete .icon, div#assignJob .icon, div#newJob .icon, div#newJobComplete .icon, div#assignJobAlmost .icon, div#viewJob .icon, div#addJob .icon {
    border: 2px dashed rgb(128,130,133);
    width: 80px;
    height: 60px;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 10px 20px 0px 0px;
	float: left;
}
	
div#memberSettings .icon {
	background: no-repeat center url('../images/profileMom.png');
}

div#assignJobComplete .icon {
	background: no-repeat center url('../images/viola.png');	
}

div#assignJob .icon, div#newJob .icon {
	background: no-repeat center url('../images/addSmall.png');	
}

div#assignJobAlmost .icon, div#newJobComplete .icon {
	background: no-repeat center url('../images/setTable.png');	
}

div#viewJob #vacuumHouse {
	background: no-repeat center url('../images/vacuumHouse.png');	
}

div#viewJob #practiceViola {
	background: no-repeat center url('../images/viola.png');	
}

div#addJob #batheDog {
	background: no-repeat center url('../images/batheDog.png');	
}


/* HTML5 Elements
-------------------------------------------------------------- */

p.info, .privilege, .mini {
    font-style: italic;
    font-size: .7em;
    font-weight: 300;
}

.mini {
    padding-top: 10px;
}

